@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}

/* NAVBAR */
li{
    display: inline;
    padding: 5px;
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none;
}

a:hover{
    color: #d7eaf7;
}

.nav-bar{
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:-8px;
    margin-left:-10px;
    margin-right:-10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Creates a line under the Home and Contact links
 to separate them from the images links */
#nav-border{
    padding-bottom: 10px;
    border-bottom: 10px solid #ffffff;
}

/* HEADERS */
h1, h2, h3{
    color: #0a3f63;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

h1{
    font-size: 60px;
    margin-top:50px;
}
h2{
    font-size:45px;
    margin-bottom:20px;
}
h3{
    font-size:20px;
    margin-top:20px;
}

#contact-h3{
    text-shadow:none;
}

/* 
Creates a text color change animation on the h1 tags for the 
home and contact page headers
 */

@keyframes color-text {
    0%{color: #b5e1ff}
    100%{color: #0a3f63}
}

/*
Calls the animation by its name in a CSS selector so it can be
applied to a specific HTML elements
 */
.animate-text{
    animation: color-text 4s;
}

/*
Body Content
 */

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border:none;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.4),
    0 6px 20px 0 rgba(0,0,0,19);
}
.column{
    float: left;
    width: 48%; /* Places the images side by side when
    the float property is used */
    padding: 10px;
}

/*
Groups elements inside a div element together and forces any floating
elements outside of the div under it with this class selector
 */
.container{
    background-size: 100% !important;
    margin: 0 -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*
This is part of the .container class selector to format the elements
to display in a table-like format
 */
.container::after{
    content:"";
    clear: both;
    display: table;
}

/*
Sets up the size of each div that holds an image so the image can be centered
 */
.image-container{
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

/*
Sets the background color in each div with an image and specifies
which ones by the use of id names for each image
 */
#cat{
    background-color: #d7eaf7;
}
 #dog{
     background-color: #c3e0c5;
 }
 #bunny{
     background-color: #c3e0c5;
 }
 #guinea{
     background-color: #d7eaf7;
 }
 #fish{
     background-color: #d7eaf7;
 }
 #reptile{
     background-color: #c3e0c5;
 }

 /*
 Sets up the properties for overlay on each image
  */
 .overlay{
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 500px;
     height: 350px;
     margin-top: 33.5px;
     border-radius: 10px;
     background-color: rgb(0, 0, 0);
     opacity: 0;
 }

 .overlay:hover{
     opacity: 0.6;
 }

/*
This selector targets the video on the page
 */
iframe{
    display: table;
    margin: auto;
    border-radius: 20px;
    border:none;
    width: 65%;
    height: 500px;
}

#video{
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;

}

footer{
    background-color: #216391;
    margin-top: 50px;
    margin-right: -10px;
    margin-left: -10px;
    bottom: 0; /*Positions footer on bottom of screen*/
}

/*
Styles the table elements within the footer tags
 */
table{
    width: 100%;
}

td{
    text-align: center;
    width: 33%;
}

td p{
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*
FORM CSS
 */
form{
    padding: 15px;
    display:table;
    margin: auto;
}

input{
    border: 2px solid gray;
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0;
    font-size: 20px;
    color: gray;
    transition: color 0.3s ease-out;
}

/*
The focus pseudo-class is triggered when a user clicks
on an input element
 */
input:focus{
    box-sizing: border-box;
    border: 2px solid #0a3f63;
    color: #000000;
    transition: 0.3s ease-in;
    outline:none;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin:10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

textarea:focus{
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    transition: 0.3s ease-in;
    outline:none;
}

/*
Styles the Submit buttom
 */
input[type=submit]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

/*
Changes the background color of the submit button when
a user hovers over it
 */
input[type=submit]:hover{
    background-color: #052133;

}